/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


.intro-desc{
    width: 700px;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}



text.nvd3.nv-noData {
    fill: white;
}

alert-controller{
  position: absolute;
  bottom: 0px;
  width: 32%;
  display: block;
  right: 0px;
}

.create-button{
  height: 40px;
  width: 50%;
  margin: auto;
  border: 1px solid white;
  padding: 10px;
  border-radius: 14px;
  font-family: sans-serif;
  margin-bottom: 25px;
  font-size: 20px;
  padding-bottom: 38px;
  cursor: pointer;
  &:hover{
    background-color: rgb(126, 126, 126);
    color: white;
  }
}

.pie-box{
    border: 1px solid rgb(194, 193, 193);
  border-radius: 10px;
  &:hover{
      background-color: rgba(255, 255, 255, 0.07);
  }
  .delete{
    float: right;
    font-size: 20px;
    cursor: pointer;
  }
}

.view-container{
  border:0ßpx solid gray;
  height:700px;
  overflow: auto;
}

pie-chart{
  height:200px;
}


/*
 * Pie Manager
 */


.pie-manager-container{
  height: 600px;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 23px;
  overflow: hidden;

  input[type="text"]{
    text-align: center;
    background: none;
    border: 0px;
  }

  .pie-canvas{
    height:90%;
    border-bottom: 1px solid gray;
      padding-right: 30px;
    >div{
      height:100%;
    }

    .number-input{
      background: none;
      border: 1px solid gray !important;
      width: 50px;
      margin-top: 6px;
      border-radius:3px;
    }

    .slices{
      margin-top: 15px;
      .add-slice-btn{
        border:1px solid gray;
        border-radius: 3px;
        padding: 3px;
        &:hover{
          background-color: rgb(126, 126, 126);
          color: white;
          border:1px solid white;
        }
      }

    }

    .right-border{
      border-right: 1px solid gray;
    }

     .pie-slices{
        border: 1px solid gray;
        border-radius: 6px;
        margin-bottom: 3px;
        padding-top: 2px;
        padding-bottom: 2px;
        input[type="text"]{
          width:40%;
        }
      }

      .delete-slice-btn{
        cursor:pointer;
        padding: 3px;
        border-radius:2px;
        border:1px solid transparent;
        &:hover{
          color: white;
          border:1px solid gray;
        }
      }
  }

  .pie-title{
      font-size: 20px;
  }
  .pie-description{

  }
}

.pie-update-edit{
  margin-top: 16px;
  border: 1px solid gray;
  width: 38%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  &:hover{
    background-color: rgb(126, 126, 126);
    color: white;
    border:1px solid white;
  }
}

.pie-tooltip{
  background-color: darkgray;
}


/*
 * Animations
 */

 .anim{
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;

}

.view-animate{
  position: absolute;
  top: 200px;
}

.view-animate.ng-enter {
  opacity: 0;
}
.view-animate.ng-enter.ng-enter-active {
   opacity: 1;
}
.view-animate.ng-leave.ng-leave-active {
  opacity: 0;
}

.animate-repeat {
  line-height:40px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}